<nav class="nav nav-tabs nav-fill bg-light">
    <a class="nav-link" routerLink="resources" routerLinkActive="active">Resources</a>
    <a class="nav-link" routerLink="first-year" routerLinkActive="active">First Year</a>
    <a class="nav-link" routerLink="second-year" routerLinkActive="active">Second Year</a>
    <a class="nav-link" routerLink="third-year" routerLinkActive="active">Third Year</a>
    <a class="nav-link" routerLink="fourth-year" routerLinkActive="active">Fourth Year</a>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<footer class="alert alert-info text-center">
    <strong>
        Riyad Morshed Shoeb
        <br>
        Dept. of Computer Science and Engineering @ RUET
    </strong>
</footer>
