<div class="h1 text-center">Odd Semester</div>
<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th scope="col" class="th-sm">Course Id</th>
            <th scope="col" class="th-lg">Course Title</th>
            <th scope="col" class="th-sm">Resources</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of resourceToShow.oddSemester.courses">
            <th scope="row">{{course.courseId}}</th>
            <td>{{course.courseTitle}}</td>
            <td>
                <button *ngIf="course.books" type="button" class="btn btn-sm btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Books</button>
                <ul class="dropdown-menu">
                    <li *ngFor="let book of course.books">
                        <a class="dropdown-item" href="{{book.link}}" target="_blank" rel="noopener noreferrer">{{book.title}} - {{book.author}}</a>
                    </li>
                </ul>
                <a *ngFor="let resource of course.resources" href="{{resource.link}}" class="m-1" target="_blank" rel="noopener noreferrer">
                    <img src="{{resource.image}}">
                </a>
            </td>
        </tr>
        <tr *ngIf="resourceToShow.oddSemester.resources">
            <td [colSpan]="3" class="text-center">
                <a *ngFor="let resource of resourceToShow.oddSemester.resources" href="{{resource.link}}" class="m-1" target="_blank" rel="noopener noreferrer">
                    <img src="{{resource.image}}">
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="h1 text-center">Even Semester</div>
<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th scope="col" class="th-sm">Course Id</th>
            <th scope="col" class="th-lg">Course Title</th>
            <th scope="col" class="th-sm">Resources</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of resourceToShow.evenSemester.courses">
            <th scope="row">{{course.courseId}}</th>
            <td>{{course.courseTitle}}</td>
            <td>
                <button *ngIf="course.books" type="button" class="btn btn-sm btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Books</button>
                <ul class="dropdown-menu">
                    <li *ngFor="let book of course.books">
                        <a class="dropdown-item" href="{{book.link}}" target="_blank" rel="noopener noreferrer">{{book.title}} - {{book.author}}</a>
                    </li>
                </ul>
                <a *ngFor="let resource of course.resources" href="{{resource.link}}" class="m-1" target="_blank" rel="noopener noreferrer">
                    <img src="{{resource.image}}">
                </a>
            </td>
        </tr>
        <tr *ngIf="resourceToShow.evenSemester.resources">
            <td [colSpan]="3" class="text-center">
                <a *ngFor="let resource of resourceToShow.evenSemester.resources" href="{{resource.link}}" class="m-1" target="_blank" rel="noopener noreferrer">
                    <img src="{{resource.image}}">
                </a>
            </td>
        </tr>
    </tbody>
</table>
